.Content {
  display: inline-block;
  width: 100%;

}



.content-holder,
.content-holder-topic {
  display: inline-block;
  width: 100%;
  height: 100vh;
  position: relative;
  vertical-align: top;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
